body{
    min-width: 300px;
}

img {
    margin: 5px;
}

li {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.tabs-list {
    height: 500px;
    overflow-y: scroll;
}

.tab-selected {
    background-color: #E0E0E0;
}

.tab-title {
    word-wrap: break-word;
}

.hidden {
    font-size:0;
}

.tab-ignored {
    color: #E0E0E0;
}

.input-display {
    padding: 5px;
    margin: 5px;
    height: 30px;
    width: 100%;
    background-color: #B2EBF2;
}

img {
    width: 18px;    
    height: 18px;
    margin-top: 1px; 
}

input:focus {
    outline:none;
    border: 0px solid black;
}
