body{
    min-width: 300px;
}

img {
    margin: 5px;
}

li {
    margin: 5px;
}

.tab-selected {
    background-color: #E0E0E0;
}

.hidden {
    font-size:0;
}

.tab-ignored {
    color: #E0E0E0;
}

.input-display {
    height: 30px;
    width: 100%;
    background-color: #B2EBF2;
}

img {
    width: 18px;    
    height: 18px;
}

input:focus {
    outline:none;
}
